---
name: Pages

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/pages.yml
      - internal/schema/*.json
      - pages/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/configure-pages@v5
      - run: cp internal/schema/*.json pages/
      - uses: actions/upload-pages-artifact@v4
        with:
          path: pages
      - uses: actions/deploy-pages@v4
        id: deployment
